<h4><navtool></navtool> Аналитический расчет расхода топлива.</h4>
<h5>{{ system.title }}</h5>

<div class="container">

<form role="form">
    <div class="form-group">
        <label class="form">Средний расход</label>
        <input type="number" class="form-control" ng-model="middle">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Средний расход:</span>
        <input type="number" class="form-control" ng-model="middle">
        <span class="input-group-addon">л/100км</span>
    </div>

</form>

</div>
