<h4><navtool></navtool> Детальная конфигурация</h4>
<!-- <div class="scrollable"> -->
<!--div class="span4"-->

    <h3>{{ system.title }}</h3>

<!--     <h4>Параметры построения треков</h4>

    <div class="input-group">
        <span class="btn input-group-addon">Игнорировать поездки менее, минут:</span>
        <input class="form-control" type="number" min="0" max="15" ng-model="system.postproc.min_move" ng-change="system.$patch('postproc')" />
    </div>
    <div class="input-group">
        <span class="btn input-group-addon">Игнорировать поездки менее, минут:</span>
        <input class="form-control" type="number" min="0" max="15" ng-model="system.postproc.min_move_ext" ng-change="system.$patch('postproc')" />
        <span class="btn input-group-addon">если начальная и конечная точка отстоят на</span>
        <input class="form-control" type="number" min="0" max="3000" ng-model="system.postproc.min_move_len" ng-change="system.$patch('postproc')" />
        <span class="btn input-group-addon">метров</span>
    </div>
 -->
    <h4>Программирование параметров трекера </h4>
    <!-- a href="/#/config/{{skey}}/params/master" class="btn btn-primary"><i class="icon-magic icon-large"></i> Мастер настройки</a-->

    <div ng-hide="params.$isEmpty(params.data)">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th><i class="icon-filter cmd" data-tooltip="1" rel="tooltip" bs-tooltip="tooltip.title" ng-click="onFilter()"></i>Имя</th>
                <th>Описание</th>
                <!-- <th>Тип</th> -->
                <th>Значение</th>
                <th>Заводское</th>
                <th>Изменить на</th>
            </tr>
            </thead>
            <tbody>
            <!--tr ng-repeat="p in params | isFiltered:filtered"-->
            <!-- <tr ng-repeat="(k, p) in params.value | filter:isFiltered"> -->

            <!-- <tr ng-repeat="(k, p) in filtered(params.data)"> -->
            <tr ng-repeat="(k, p) in params.data | isFiltered:filtered">
                <td>{{k}}</td>
                <td>{{extend(k).desc}}</td>
                <!-- <td>{{p.type}}</td> -->
                <!-- <td contenteditable ng-model="p.newvalue" ng-change="onChangeValue(k)"></td> -->
                <td>{{p.value}}</td>
                <td>{{p.default}}</td>
                <td>
                    {{ params.queue[k] }}
                    <button class="btn btn-small" ng-click="changeParam(k)">...</button>
<!--                     <form class="form form-inline" ng-submit="setqueue(k, p.queue)" style="margin:0">
                        <input class="form-control input-small" type="text" ng-model="p.queue" style="width: 50%"></input>
                        <button class="btn btn-small btn-primary" ng-show="p.queue != p.newqueue"><i class="icon-ok"></i>Ok</button>
                    </form>
 -->
                    <i ng-show="params.queue[k] != null" class="btn btn-small btn-primary icon-trash icon-large" style="float:right" title="Отменить" ng-click="cancelqueue(k)"></i>
                 </td>
            </tr>
            </tbody>
        </table>
        <div class="" style="text-align: right;">
            <button class="btn btn-danger" ng-click="stopqueue()"><i class="icon-trash icon-white"></i> Отменить внесенные изменения</button>
            <!--button class="btn btn-warning" ng-click="resetdefaults()"><i class="icon-adjust icon-white"></i> Установить все значения в заводское</button-->
        </div>
    </div>
    <div class="alert" ng-show="params.$isEmpty(params.data)">
        <i class="icon-warning-sign"></i>
        Трекер еще не сохранил конфигурацию. Попробуйте позже или отправьте на номер карточки трекера SMS:
        <b>saveconfig</b>
    </div>
<!--/div-->
<!--/div-->

    <div class="modal fade" id="carIconsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Выберите значек для {{ system.title }}</h4>
                </div>
                <div class="modal-body">
                    <a ng-repeat="i in caricons" ng-click="setIcon(i)" title="{{ i.class }}"><i class="{{ i.class }} icon-2x"></i></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="changeParamModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Введите новое значение параметра</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" ng-model="param.value" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="addTag">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Добавление ярлыка</h4>
                </div>
                <form name="form" ng-submit="addTagDone()" style="margin-bottom: 0;">
                    <div class="modal-body">
                        <h4 ng-hide="edittags || (alltags.length === 0)">Выберите ярлык из списка</h4>
                        <h4 ng-show="edittags">Укажите лишние ярлыки</h4>
                        <a title="Удаление лишних ярлыков" ng-click="edittags = !edittags" style="float:right"><i class="icon-wrench"></i></a>
                            <div class="tags">
                                <span ng-class="{true:'editabletag'}[edittags]" class="tag label label-default" ng-repeat="(key, value) in alltags" ng-click="addTagThis(value)">{{value}}
                                    <i class="icon-minus-sign icon-large" ng-show="edittags"></i>
                                </span>
                            </div>
                        <h4 ng-hide="edittags || (alltags.length === 0)">Или добавьте новый</h4>
                        <h4 ng-hide="edittags || (alltags.length !== 0)">Укажите имя ярлыка</h4>
                        <input ng-hide="edittags" class="form-control" ng-model="tagname" />
                    </div>
                    <div class="modal-footer" ng-hide="edittags">
                        <input type="submit" id="submit" class="btn btn-primary" value="Добавить"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
                    <div class="modal-footer" ng-show="edittags">
                        <button type="button" class="btn btn-default" ng-click="edittags = false">Ок</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<!-- </div> -->
