.timechart {
    // width: 100%;
    // height: 100%;
    // padding-bottom: 60%;
    // border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 120px; bottom: 0; left: 0; right: 0;

    .timechart-container {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;


        // .chart{
        //     /*border: 1px solid blue;*/
        //     box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        //     width: 650px;
        //     height: 350px;
        //     border-radius: 10px;
        //     padding: 0;
        //     margin: 0;

        // }
        svg {
            .axis path,
            .axis line {
                fill: none;
                // stroke: #000;
                shape-rendering: crispEdges;
            }
            .y.axis line {
                stroke: #ddd;
            }

            .axisx {
                cursor: ew-resize;
                rect.helper{
                    // fill: #eee;
                    fill: none;
                    pointer-events: all;
                }
            }

            .axisy {
                cursor: ns-resize;
                rect.helper{
                    // fill: #eee;
                    fill: none;
                    pointer-events: all;
                }
            }


            .plot {
                cursor: move;
                rect.helper{
                    // fill: #eee;
                    fill: none;
                    pointer-events: all;
                }
            }

            path.line {
                fill: none;
                stroke: steelblue;
                stroke-width: 5px;
                stroke-linejoin: round;
                stroke-linecap: round;
            }

            /*    .chart svg .x.axis path {
                display: none;
            }
            */

            circle.dot {
                // fill: steelblue;

                fill: white;
                stroke: steelblue;
                stroke-width: 3px;

                &:hover {
                    fill: lightblue;
                    // stroke-width: 5px;
                }

            }

            line.project {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
                stroke-dasharray: 5,5;
            }
        }
    }

    .timechart-control {
        position: absolute;
        right: 30px;
        bottom: 60px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 8px 3px 8px;
        // box-shadow: 0px 0px 5px rgba(255,255,255,1.0);
        box-shadow: 0px 0px 5px #F09624;
        border-radius: 10px;
        text-align: center;

        button {
            padding: 8px 12px 8px 12px;
            margin-bottom: 4px;
            opacity: 0.8;
            i {
                margin: 0;
            }
            &:hover{
                background-color: #ccf;
                opacity: 1.0;
            }
        }
    }
}
